<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel="stylesheet" href="/css/community_page.css">
</head>
<body>
  <section class="wrapper">
    <div class="main">
      <header>Community</header>
      <p></p>
      {% for post in postLists %}
      <br>
      <div class="follow">
        <div class="post-user-name">{{post.User.username}}님의 한줄
          <input type="hidden" value="{{post.publisher}}" class="post-publisher">
          <input id="my-id" type="hidden" value="{{userId}}">
          {% if not followerIdList.includes(post.publisher) and post.publisher !== userId %}
            <button class="user-follow">Follow</button>
          {% endif %}
        </div>
        <p class="hi">{{ post.title }}</p>  
        <p class="hi2">{{ post.date }}</p>
         
      <div class="content-box">
        <div class="content">
          <p>Content : {{ post.content }}</p>
        </div>
      </div>
    </div>   
      {% endfor %} 
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script>
        document.querySelectorAll('.user-follow').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.post-publisher').value;
          console.log(userId)
          console.log(myId)
          if (userId !== myId.value) {
            if (confirm('팔로잉하시겠습니까?')) {
              axios.post(`/users/${userId}/follow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });
      </script>
    </div>
  </section>
</body>
</html>