<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel="stylesheet" href="/css/images.css">
</head>
<body>
  <section class="wrapper">
    <div class="main">
      <header>My Diary</header>
      <div>
        <form id="twit-form" action="/posts" method="post" >
          
        </form>
      </div>
    </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
      
      }
  </script>
  </section>
</body>
</html>