<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel="stylesheet" href="/css/images.css">
</head>
<body>
  <section class="wrapper">
    <div class="main">
      <header>My Diary</header>
      <div>
        <form id="twit-form" action="/posts" method="post" enctype="multipart/form-data">
          <div class="img-preview">
            <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
            <input id="img-url" type="hidden" name="url">
          </div>
          <div>
            <label id="img-label" for="img">사진 업로드</label>
            <input id="img" type="file" accept="image/*">
            <button id="twit-btn" type="submit" class="btn">짹짹2</button>
          </div>
        </form>
      </div>
    </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
      if (document.getElementById('img')) {
        document.getElementById('img').addEventListener('change', function(e) {
          const formData = new FormData();
          console.log(this, this.files);
          formData.append('img', this.files[0]);
          axios.post('/posts/img', formData)
            .then((res) => {
              document.getElementById('img-url').value = res.data.url;
              document.getElementById('img-preview').src = res.data.url;
              document.getElementById('img-preview').style.display = 'inline';
            })
            .catch((err) => {
              console.error(err);
            });
        });
      }
  </script>
  </section>
</body>
</html>