<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel="stylesheet" href="/css/images.css">
</head>
<body>
  <section class="wrapper">
    <div class="main">
      <header>My Diary</header>
      <form id="twit-form" action="/post" method="post" enctype="multipart/form-data">
        <div class="img-preview">
          <img id="img-preview" src="" style="display: none;" width="100" alt="미리보기">
          <input id="img-url" type="hidden" name="url">
        </div>
        <div>
          <label id="img-label" for="img">사진 업로드</label>
          <input id="img" type="file" accept="image/*">
          <button id="twit-btn" type="submit" class="btn">짹짹</button>
        </div>
      </form>
    </div>
  </section>
</body>
</html>