<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <section class="wrapper">
    <div class="main">
      <header>하루 한줄</header>
      <p>오늘의 하루는 어땠나요?</p>
      <p>하루동안의 감정을 한줄로 기록해봐요.</p>
    </div>
    <form class="main_btn" action="/posts/create" method="get">
      <input type="submit" value="한줄 기록 남기기">
    </form>
    <form class="main_btn" action="/myPage" method="get">
      <input type="submit" value="내 기록 보기">
    </form>
    <form class="main_btn" action="/community" method="get">
      <input type="submit" value="다른 사람 기록 보기">
    </form>
  </section>
</body>
</html>