<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel="stylesheet" href="/css/my_page.css">
</head>
<body>
  <section class="wrapper">
    <div class="main">
      <header>My Diary</header>
      <div class="my-info">
        <p>[My Info]</p>
        <div class="following-count">
          <p>팔로잉 수 : {{followingCount}}</p>
        </div>
        <div class="follower-count">
          <p>팔로워 수 : {{followerCount}}</p>
        </div>
      </div>
      <div class="diary">
          <p></p>
        {% for post in postLists %}
        <br>
          <p class="hi">{{ post.title }}</p>  
          <p class="hi2">{{ post.date }}</p>
        <div class="content-box">
          <div class="content">
            <p>Content : {{ post.content }}</p>
          </div>
        </div>  
        {% endfor %} 
      </div>
      <script>console.log(post)</script>
    </div>
  </section>
</body>
</html>