<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <section class="wrapper">
    <div class="main">
      <header>지난 날의 하루들</header>
      <p>오늘의 하루는 어땠나요?</p>
      <p>하루동안의 감정을 한줄로 기록해봐요.</p>
      {% for post in postLists %}
      <div>
        <br>
        <p>Date : {{ post.date }}</p> 
        <p>Title : {{ post.title }}</p>
        <p>Content : {{ post.content }}</p>
      </div>
      {% endfor %} 
      <script>console.log(post)</script>
    </div>
  </section>
</body>
</html>